.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2 1fr;


    /* First two columsn are half the size of the last */
    /* auto property resizes to fit the content */
}
.nav_item_one{
    border-bottom: 5px solid black;
    -webkit-transition: width 5s; /* For Safari 3.1 to 6.0 */
    transition: width 5s;
}
.nav_item_one:active {

}

.nav_item{
    border-bottom: 5px solid black;
    -webkit-transition: width 5s; /* For Safari 3.1 to 6.0 */
    transition: width 5s;
}
.nav_item:active{
    width:1280px;
}

 a{
     text-decoration: none;
     color:black;

 }
a:active{
    border-bottom: 5px solid black;
}

.Bar{
    grid-row-start: 2;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end: 7;
    width: 10px;
    height: 10px;
    background: red;
    -webkit-transition: width 5s; /* For Safari 3.1 to 6.0 */
    transition: width 5s;
  }

  .Bar_active:active {
    width: 1440px;
  }



