.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2 1fr;
}

.bar {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
  }

  .bar:hover {
    width: 300px;
  }
